.ftr-top{
	padding: 25px 0 20px;
	background: #303030;
}

.ftr-logo{
	float: left;
}

.ftr-main-menu{
	float: right;
	margin-top: 70px;
}

.ftr-logo a{
	display: inline-block;
	vertical-align: baseline;
}
.ftr-main-menu ul li{
	display: inline-block;
	vertical-align: baseline;
	padding-left: 6px;
	padding-right: 6px;
	position: relative;
}
.ftr-main-menu ul li:first-child{
	padding-left: 0;
}
.ftr-main-menu ul li:last-child{
	padding-right: 0px;
}
.ftr-main-menu ul li:before{
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	width: 1px;
	height: 6px;
	background: #bebebe;
}
.ftr-main-menu ul li:first-child:before{
	content: none;
}
.ftr-main-menu ul li a{
	text-decoration: none;
	font-size: 15px;
	color: #ebebeb;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-ms-transition: all 0.5s;
}
.ftr-main-menu ul li a:hover{
	color: #d82027;
}


.ftr-copywrite{
	padding-top: 15px;
}
.ftr-copywrite-inr p{
	font-size: 12px;
	color: #6f6f6f;
	font-weight: 300;
}




@media(max-width: 767px){
	.hide-sm{
		display: none!important;
	}
	.show-sm{
		display: block!important;
	}
	.ftr-logo{
		float: initial;
		margin-bottom: 20px;
	}
	.xs-ftr-contact-info{
		position: relative;
	}
	.xs-ftr-tel a,
	.xs-ftr-mail a{
		text-decoration: none;
		color: #fff;
		font-size: 19px;
		text-transform: uppercase;
		font-weight: 300;
		padding-left: 120px;
		position: relative;
	}
	.xs-ftr-tel strong,
	.xs-ftr-mail strong{
		position: absolute;
		left: 0;
		top: 0;
		font-size: 19px;
		font-weight: 300;
		line-height: 1;
		color: #fff;
		text-transform: uppercase;
	}
	.xs-ftr-mail strong{
		top: 25px;
	}
	
}

@media(max-width: 575px){
	.hide-xs{
		display: none!important;
	}
	.show-xs{
		display: block!important;
	}
	

}

@media(max-width: 479px){
	.xs-ftr-tel a, .xs-ftr-mail a {
	    font-size: 16px;;
	}

}

